@use 'utils' as *;

body {
  color: $color-main;
  font-size: 1.8rem;
  line-height: 1.6;
}

h1 {
  @include title-h1;
}

h2 {
  @include title-h2;
}

h3 {
  @include title-h3;
}

h4 {
  @include title-h4;
}

h5 {
  @include title-h5;
}

h6 {
  @include title-h6;
}

p {
  @include body-1;

  @media (max-width: $container-width-min) {
    @include body-2;
  }
}
